.App {
  text-align: center;
  background-color:#d0e6f4;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
}

.paper{
  display:flex;
  align-items: baseline;
  justify-content:space-evenly;
  flex-grow:2
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
body {
  background-color:#d0e6f4;

}
.foodtitle{
  margin-bottom: -1.5%;
}
.paper1{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.button{
  width:30%;
  margin-left:35%;
  margin-top:7%;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
